.red{
	color: red;
}
.spacer{
	margin-top: 20px;
}
.mil{
	margin-left: 320px;
}

.centre {
	margin-top: 130px;
    margin-left: 330px;
}

.centre2 {
	margin-top: 20px;
    margin-left: 130px;
}

.log{
	margin-left : 600px;
}

.log2{
	margin-left : 1000px;
}
.titre {
background-color: #E8EEF4;
}